.container {
  padding: 20px 22px;
  height: 100vh;
//   overflow-x: hidden;
//   overflow-y: hidden;
  background: #fff;
  box-sizing: border-box;
}

@media (max-width: 768px) {
    .container {
        padding: 16px;
    }
}